@media only screen and (max-width: 900px)
  .section#skills
    padding-left: 0px!important
    padding-right: 0px!important

.section#skills
  background: green
  transform: translateY(-10px)

  //background:  radial-gradient(circle at 0% 0%, var(--bg-color-top-left) 20%, rgba(0,0,0,0)), radial-gradient(circle at 100% 0%, var(--bg-color-top-right) 20%, rgba(0,0,0,0)), radial-gradient(circle at 80% 80%, var(--bg-color-bottom-right) 20%, rgba(0,0,0,0) 45%), radial-gradient(circle at 0% 100%, var(--bg-color-bottom-left) 20%, rgba(0,0,0,0))

  .background-wrap
    z-index: -1
    .background-colors.light
      background: radial-gradient(circle at 75% 50%, rgba(76,245,168,1) 20%, rgba(0,0,0,0)), radial-gradient(circle at 0% 0%, var(--bg-color-top-left) 100%, rgba(0,0,0,0))
    .background-colors.dark
      background: radial-gradient(circle at 75% 50%, var(--bg-color-top-left) 20%, rgba(0,0,0,0)), radial-gradient(circle at 0% 0%, var(--bg-color-top-right) 100%, rgba(0,0,0,0))


  .content-wrap
    @include flex(row, center, space-between, nowrap)
    padding: 100px 0px
    color: white

    h2
      color: white
      margin-bottom: 20px

    ul
      margin-bottom: 20px

      &:first-child
        margin-bottom: 40px

      li
        margin-bottom: 10px

        label
          @include flex(row, center, flex-start, nowrap)
          position: relative

          .checkbox
            height: 15px
            width: 15px
            background: white
            display: inline-block
            margin-right: 15px
            border-radius: 2px

            &:after
              content: ""
              position: absolute
              left: 2px
              top: 4px
              width: 11px
              height: 11px
              background: #A5A5A5
              opacity: 0

            &.radio
              border-radius: 100px
              &::after
                border-radius: 100px

          input:checked ~ .checkbox
            &:after
              opacity: 1

          input
            display: none

  .right-side
    max-width: 65%

    .skills-item-wrap
      display: none

    .word-cloud-wrap
      @include flex(row, center, center, wrap)
      .item
        @include transition(300ms)
        display: inline-block
        font-size: 36px
        margin: 15px
        transform: scale(1, 1)

      $max-font-size: 56px
      @for $priority from 1 through 5
        .item[data-priority="#{$priority}"]
          font-size: calc(#{$max-font-size} - #{$priority} * 12px)
          line-height: calc(#{$max-font-size} - #{$priority} * 12px)

      &[filter="true"]
        .item:not(.active)
          opacity: 0.4
          transform: scale(0.9, 0.9)

        .item.active
          transform: scale(1.2, 1.2)
          margin: 10px 20px

[data-theme="dark"]
  .section#skills
    .bg-border-wrap
      .border
        svg.light-border
          opacity: 0


@media only screen and (max-width: 786px)
  .section#skills
    .content-wrap
      flex-direction: column

    .right-side
      max-width: 95vw
      width: 95vw

    .left-side
      max-width: 80vw
      width: 80vw
      margin-bottom: 20px

      .filters-wrap
        display: flex
        justify-content: space-between


@media only screen and (max-width: 600px)
  .section#skills
    .left-side
      .filters-wrap
        display: block
