//output: index.php

html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include _scripts/scripts.php
    title Matt Haslem - Web Developer
  body(data-theme="light")
    #all-content-wrap
       
      
      .section#hero     
        .background-wrap
          .background-colors.dark 
          .background-colors.light
          //canvas#bg-canvas
          .circles-wrap
            .inner
              include _pics/circles/center1.svg
              include _pics/circles/center2.svg
            .second
              include _pics/circles/second1.svg
              include _pics/circles/second2.svg  
            .outer
              include _pics/circles/outer1.svg 
              include _pics/circles/outer2.svg   
           
        .content-wrap.ignore-width
          h1 Matt Haslem
          .caption-wrap
            .hr
            .text Web Developer
            .hr
      
      .section#nav-links-desktop.tablet-hide 
        .links-wrap 
          a(href="#about") About Me
          .vertical-divider
          a(href="#experience") Experience & Education
          .vertical-divider
          a(href="#skills") Skills
          .vertical-divider
          a(href="#mywork") My Work
          .vertical-divider
          a(href="#contact") Contact
          
          
      .section#about-me(data-section="about")
        .content-wrap
          .img-wrap
            img(src="_pics/Matt_Haslem_Web_Developer.jpg" alt="Matt Haslem - Web Developer")
            .circles-wrap
              .inner
                include _pics/circles/center1.svg
                include _pics/circles/center2.svg
              .second
                include _pics/circles/second1.svg
                include _pics/circles/second2.svg  
              .outer
                include _pics/circles/outer1.svg 
                include _pics/circles/outer2.svg  
          .text-wrap
            h1 About Me
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam soluta incidunt error rerum a ad optio accusantium quidem, excepturi voluptas voluptatibus repellendus eos officia quaerat perferendis ea eius aliquid!

      .section#experience(data-section="experience")
        .content-wrap
      include _includes/_items/theme-switch.php 
      include _includes/_items/section-navigator 
      include _includes/_items/mobile-nav 
      
    
 
 
