//output: index.php
<!DOCTYPE html>
html(lang="en" dir="ltr")     
  head   
    meta(charset="utf-8")            
    meta(name="viewport" content="width=device-width, initial-scale=1.0") 
    include _scripts/scripts.php 
    title Matt Haslem - Web Developer
  body(data-theme="light") 
    .section.top-section#hero.larger-than-tablet-hide(data-section-name="Home")
      .background-wrap
        .background-colors.dark 
        .background-colors.light
        //canvas#bg-canvas
        .circles-wrap
          .inner
            include _pics/circles/center1.svg
            include _pics/circles/center2.svg
          .second
            include _pics/circles/second1.svg
            include _pics/circles/second2.svg   
          .outer
            include _pics/circles/outer1.svg  
            include _pics/circles/outer2.svg   
         
      .content-wrap.ignore-width
        h1 Matt Haslem
        .caption-wrap
          .hr
          .text Web Developer
          .hr
          
          
    #all-content-wrap
       
      
      .section#hero.tablet-hide.top-section(data-section-name="Home")
        .background-wrap
          .background-colors.dark 
          .background-colors.light
          //canvas#bg-canvas
          .circles-wrap
            .inner
              include _pics/circles/center1.svg
              include _pics/circles/center2.svg
            .second
              include _pics/circles/second1.svg
              include _pics/circles/second2.svg  
            .outer
              include _pics/circles/outer1.svg  
              include _pics/circles/outer2.svg   
           
        .content-wrap.ignore-width
          h1 Matt Haslem
          .caption-wrap
            .hr
            .text Web Developer
            .hr
      
      .section#nav-links-desktop.tablet-hide 
        .links-wrap 
          a(href="#about") About Me
          .vertical-divider
          a(href="#experience") Experience & Education
          .vertical-divider
          a(href="#skills") Skills
          .vertical-divider
          a(href="#my-work") My Work
          .vertical-divider
          a(href="#talk") Contact
          
          
      .section#about-me(data-section="about").top-section(data-section-name="About Me")
        
        .content-wrap
          .img-wrap
            img(src="_pics/Matt_Haslem_Web_Developer.jpg" alt="Matt Haslem - Web Developer")
            .circles-wrap
              .inner
                include _pics/circles/center1.svg
                include _pics/circles/center2.svg
              .second
                include _pics/circles/second1.svg
                include _pics/circles/second2.svg  
              .outer
                include _pics/circles/outer1.svg 
                include _pics/circles/outer2.svg  
          .text-wrap
            h1 About Me
            p
              | Hello! My name is Matt Haslem. I am a resident of Norfolk, VA with over 15 years of self-taught, educational, and professional experience in programming and web development. I spent my teenage years obsessed with anything pertaining to media development, including web development. I started creating websites when I was a young teen and it has proven to be my favorite hobby ever since. My first degree was in Communications because I wanted to learn as much as I can when it comes to all forms of media. At one point I decided technology was my true passion, so I went back to obtain my second Bachelor's degree in Computer Science.

      .section#experience(data-section="experience").top-section(data-section-name="Experience")
        .content-wrap
          .section.experience
            h2 Experience
            .card(data-company="MAXX")
              .title-wrap
                .image-wrap
                  img(src="_pics/experience/MaxxPotential.svg")
                .text-wrap 
                  h4
                    | MAXX Potential
                  .caption
                    | Technology Apprentice 
                    br.desktop-hide
                    em ( July 2021 - Present )
              .desc
                |  MAXX Potential is a company that provides a diverse range of technology services to a wide variety of companies. Their main focus is to give their apprentices an opportunity to get the hands-on experience they need to kickstart their career. 
                a(href="https://maxxpotential.com/" target="_blank") Learn more at their site
                | .
              .button-wrap
                a.button(data-scroll-to="maxx-projects")
                  | Projects 
                  img(src="_pics/icons/double-arrow.svg")
          .section.education
            h2 Education
            .cards-wrap
              .card.small(data-company="ODU")
                .title-wrap
                  .image-wrap
                    img(src="_pics/experience/OldDominionUniversity.svg")
                  .text-wrap
                    h4 Old Dominion University
                    .caption
                      | Computer Science - Bachelor of Science
                      br
                      em ( January 2019 - May 2022 )
              .card.small(data-company="ODU")
                .title-wrap
                  .image-wrap
                    img(src="_pics/experience/OldDominionUniversity.svg")
                  .text-wrap
                    h4 Old Dominion University
                    .caption
                      | Communications - Bachelor of Science 
                      br
                      em ( August 2011 - December 2016 )
                    
      .section#skills.top-section(data-section-name="Skills")
        .background-wrap
          .background-colors.dark 
          .background-colors.light
        .bg-border-wrap
          .border.top 
            img.border.light(src="_pics/skills/skills-border-top-light.svg" data-animate="true" data-max-scroll="0.2")
            img.border.dark(src="_pics/skills/skills-border-top-dark.svg" data-animate="true" data-max-scroll="0.2")
          .border.bottom
            img.border.light(src="_pics/skills/skills-border-bottom-light.svg" data-animate="true" data-max-scroll="0.2")
            img.border.dark(src="_pics/skills/skills-border-bottom-dark.svg" data-animate="true" data-max-scroll="0.2")

        .content-wrap
          .left-side
            h2 Skills
            
            .filters-wrap
              ul
                li
                  label
                    input.skill-filter.radio(type="checkbox" value="professional")
                    .checkbox.radio
                    | Professional Experience
                li
                  label
                    input.skill-filter.radio(type="checkbox" value="personal")
                    .checkbox.radio
                    | Personal Project / School Experience
              ul
                li
                  label
                    input.skill-filter(type="checkbox" value="front-end")
                    .checkbox
                    | Front-End Development
                li
                  label
                    input.skill-filter(type="checkbox" value="back-end")
                    .checkbox
                    | Back-End Development
                li
                  label
                    input.skill-filter(type="checkbox" value="programming")
                    .checkbox
                    | Programming
                //li
                  label
                    input.skill-filter(type="checkbox" value="design")
                    .checkbox
                    | Design
            .button.clear-skill-filters
              | Clear            
           
          .right-side
            .skills-item-wrap
              .item(data-priority="1" data-professional="professional personal" data-type="front-end") CSS
              .item(data-priority="1" data-professional="professional personal" data-type="front-end") HTML
              .item(data-priority="1" data-professional="professional personal" data-type="front-end programming") jQuery
              .item(data-priority="2" data-professional="professional personal" data-type="front-end programming") JavaScript
              .item(data-priority="1" data-professional="professional personal" data-type="back-end programming") PHP
              .item(data-priority="2" data-professional="professional personal" data-type="back-end") MySQL
              .item(data-priority="2" data-professional="professional personal" data-type="front-end programming") Ajax
              .item(data-priority="1" data-professional="personal" data-type="front-end") SASS
              .item(data-priority="2" data-professional="personal" data-type="front-end") SCSS
              .item(data-priority="2" data-professional="personal" data-type="programming") C++
              .item(data-priority="2" data-professional="professional personal" data-type="back-end programming") C#
              .item(data-priority="3" data-professional="personal" data-type="programming") Python
              .item(data-priority="2" data-professional="professional personal" data-type="front-end back-end") React
              .item(data-priority="2" data-professional="personal" data-type="programming") Java
              .item(data-priority="3" data-professional="professional" data-type="front-end back-end") MVC
              .item(data-priority="2" data-professional="professional" data-type="front-end back-end") Sitefinity
              .item(data-priority="2" data-professional="professional personal" data-type="front-end back-end") Wordpress
              
            .word-cloud-wrap(filter="false")

            
      .section.filler(style="--filler-height: 100px;")
      
      .section#my-work.top-section(data-section-name="My Work")
        .bg-border-wrap
          .border.top 
            img.border.dark(src="_pics/my-work/my-work-border-top-dark.svg" data-animate="true" data-max-scroll="0.2")
            img.border.light(src="_pics/my-work/my-work-border-top-light.svg" data-animate="true" data-max-scroll="0.2")
            //include _pics/my-work/my-work-border-top-dark.svg
            //include _pics/my-work/my-work-border-top-light.svg
          .border.bottom
            img.border.dark(src="_pics/my-work/my-work-border-bottom-dark.svg" data-animate="true" data-max-scroll="0.2")
            img.border.light(src="_pics/my-work/my-work-border-bottom-light.svg" data-animate="true" data-max-scroll="0.2")

            //include _pics/my-work/my-work-border-bottom-dark.svg
            //include _pics/my-work/my-work-border-bottom-light.svg 
        .content-wrap
          h1 My Work
          .slideshow#maxx-projects(data-scroll-name="maxx-projects")
            .slide(data-opened="true")
              .item.category 
                h3 MAXX Potential Projects   
                  img.icon.open-arrow.desktop-hide(src="_pics/arrow-down-dark.svg")
              .item(data-open-popup="give")      
                img(src="_pics/my-work/give.png")    
              .item(data-open-popup="broadtime")       
                img(src="_pics/my-work/broadtime.png")    
              .item(data-open-popup="nsrec")       
                img(src="_pics/my-work/nsrec.png") 
              .item(data-open-popup="macys")      
                img(src="_pics/my-work/macys.png")  
              .item(data-open-popup="connectva")      
                img(src="_pics/my-work/connectva.png")  
              .item(data-open-popup="chalk")   
                img(src="_pics/my-work/chalk.png")  
               
      .section.filler(style="--filler-height: 200px;")
      .section#talk.top-section(data-section-name="Talk")
        .content-wrap
          h2 Want to Talk?
          .button(data-open-popup="contact") Send a Message
            
        .contact-info
          h3.name Matthew Haslem                
          a.email(href="mailto:matt@matthaslem.tech") matt@matthaslem.tech
          a.phone(href="tel:757-660-2112") 757-660-2112
          span.location Norfolk, VA 
        .social-links-wrap 
          a.item(href="https://github.com/MattHaslemTech" target="_blank")
            img.icon(src="_pics/icons/github_small.svg")
            .text GitHub
          a.item(href="https://www.linkedin.com/in/thematthaslem/" target="_blank")
            img.icon(src="_pics/icons/linkedin_small.svg")
            .text LinkedIn
          a.item(href="mailto:matt@matthaslem.tech")
            img.icon(src="_pics/icons/email_small.svg")
            .text Email      
        
      include _includes/_items/theme-switch.php   
      include _includes/_items/section-navigator  
      include _includes/_items/mobile-nav  
      
      include _includes/_popups/contact       
      include _includes/_popups/work/give     
      include _includes/_popups/work/broadtime   
      include _includes/_popups/work/nsrec    
      include _includes/_popups/work/macys   
       
      include _includes/_alerts/message-sent     
     
 
    
 
 
 
