//output: index.php

html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include _scripts/scripts.php
    title Matt Haslem - Web Developer
  body(data-theme="light")
    #all-content-wrap
      .section#hero
        
          
        .background-wrap
          .background-colors.dark 
          .background-colors.light
          //canvas#bg-canvas
          .circles-wrap
            .inner
              include _pics/circles/center1.svg
              include _pics/circles/center2.svg
          
        .content-wrap
          h1 Matt Haslem
      include _includes/_items/theme-switch.php  
    
 
 
