/* RESET */
html, body, h1, h2, h3, h4, h5, h6, ul, li, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.ui-loader, .ui-corner-all {
  display: none;
}

li {
  list-style: none;
}

div, span, h1, h2, h3, h4, h5, h6, p, input, blockquote, li, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body, html {
  max-width: 100vw;
  overflow-x: hidden;
}

@media only screen and (min-width: 900px) {
  body {
    padding: min(3vw, 50px);
  }
}
body[data-theme=dark] {
  background: #333;
}

[data-theme=dark] {
  --primary-color: rgba(101,0,212,1);
  --primary-color-opac: rgba(101,0,212,0.7);
}

[data-theme=light] {
  --primary-color: rgba(23,224,133,1);
  --primary-color-opac: rgba(23,224,133,0.7);
}

[data-theme=light] {
  --heading-color: rgba(84,84,84,1);
  --text-color: rgba(84,84,84,1);
  --link-color: #46A5B4;
  --link-color-dark: #3E929B;
}

[data-theme=dark] {
  --heading-color: #f8f8f8;
  --text-color: #fff;
  --link-color: #9D57F7;
  --link-color-dark: #8943F7;
}

body {
  font-family: Calibri;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  transition: all 400ms ease-in-out;
  font-family: "Times New Roman", Times, serif;
  color: var(--heading-color);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: var(--link-color);
}
a:hover {
  text-decoration: underline;
}

#all-content-wrap {
  transition: all 400ms ease-in-out;
  margin: 0 auto;
  max-width: min(1270px, 100%);
  min-height: 100%;
  background: var(--body-background-color);
  overflow-x: hidden;
}

@media only screen and (max-width: 900px) {
  #all-content-wrap > .section {
    padding-left: min(3vw, 50px) !important;
    padding-right: min(3vw, 50px) !important;
  }
}
@media only screen and (min-width: 900px) {
  .desktop-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 900px) {
  .larger-than-tablet-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 900px) {
  .tablet-hide {
    display: none !important;
  }
}
@media only screen and (min-width: 786px) {
  .larger-than-mobile-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 786px) {
  .mobile-hide {
    display: none !important;
  }
}
[data-theme=light] {
  --body-background-color: #fff;
}

[data-theme=dark] {
  --body-background-color: #333;
}

.background-colors.dark {
  --background-color: #380b74;
  --bg-color-top-left: rgba(101,0,212,1);
  --bg-color-top-right: rgba(32,0,127,1);
  --bg-color-bottom-right: rgba(0,0,0,1);
  --bg-color-bottom-left: rgba(29,0,45,1);
  --body-background-color: white;
}

.background-colors.light {
  --background-color: rgba(23,224,133,1);
  --bg-color-top-left: rgba(74,204,151,1);
  --bg-color-top-right: rgba(23,224,133,1);
  --bg-color-bottom-right: rgba(255,255,255,1);
  --bg-color-bottom-left: rgba(55,130,191,1);
}

[data-theme=dark] .background-colors.light {
  opacity: 0;
}

body {
  transition: all 400ms ease-in-out;
}

.background-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(circle at 0% 0%, var(--bg-color-top-left) 20%, rgba(0, 0, 0, 0)), radial-gradient(circle at 100% 0%, var(--bg-color-top-right) 20%, rgba(0, 0, 0, 0)), radial-gradient(circle at 80% 80%, var(--bg-color-bottom-right) 20%, rgba(0, 0, 0, 0) 45%), radial-gradient(circle at 0% 100%, var(--bg-color-bottom-left) 20%, rgba(0, 0, 0, 0));
}
.background-wrap .background-colors {
  transition: all 400ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 0% 0%, var(--bg-color-top-left) 20%, rgba(0, 0, 0, 0)), radial-gradient(circle at 100% 0%, var(--bg-color-top-right) 20%, rgba(0, 0, 0, 0)), radial-gradient(circle at 80% 80%, var(--bg-color-bottom-right) 20%, rgba(0, 0, 0, 0) 45%), radial-gradient(circle at 0% 100%, var(--bg-color-bottom-left) 20%, rgba(0, 0, 0, 0));
}

[data-theme=light] {
  --theme-switch-bg: rgba(23,224,133,1);
}

[data-theme=dark] {
  --theme-switch-bg: rgba(101,0,212,1);
}

.theme-switch-wrap {
  --wrapper-height: 20px;
  --wrapper-width: 40px;
  position: fixed;
  top: 15px;
  right: 15px;
  width: var(--wrapper-width);
  height: var(--wrapper-height);
  background: #ddd;
  border-radius: 80px;
  border: solid 2px #c3c3c3;
  box-sizing: content-box;
  overflow: hidden;
  cursor: pointer;
}
.theme-switch-wrap .inner-content {
  transition: all 400ms ease-in-out;
  position: relative;
  width: 100%;
  height: 100%;
}
.theme-switch-wrap .inner-content .toggle-switch {
  transition: all 400ms ease-in-out;
  position: absolute;
  left: 0px;
  height: var(--wrapper-height);
  width: var(--wrapper-height);
  background: var(--theme-switch-bg);
  border-radius: 80px;
  border: solid 3px #ddd;
}
.theme-switch-wrap .inner-content .toggle-switch.dark {
  left: calc( var(--wrapper-width) - var(--wrapper-height));
}

@media only screen and (max-width: 900px) {
  .theme-switch-wrap {
    top: auto;
    bottom: 15px;
  }
}
#section-navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: fixed;
  left: 15px;
  bottom: 15px;
}
#section-navigator .arrow {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-position: center;
  background-size: 13px 18px;
  background-repeat: no-repeat;
}
#section-navigator .arrow.down {
  background-image: url("_pics/arrow-down.svg");
  margin-right: 8px;
}
#section-navigator .arrow.up {
  background-image: url("_pics/arrow-up.svg");
  margin-right: 20px;
}
#section-navigator .text {
  font-size: 20px;
  color: var(--link-color);
}

.button {
  transition: all 200ms ease-in-out;
  background-color: var(--link-color);
  width: fit-content;
  padding: 6px 15px;
  border-radius: 6px;
}
.button:hover, .button.active {
  cursor: pointer;
  background-color: var(--link-color-dark);
}

[data-theme=dark] img.border.light {
  opacity: 0;
}

[data-theme=light] img.border.dark {
  opacity: 0;
}

.bg-border-wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.bg-border-wrap > .border {
  position: relative;
}

img.border[data-animate=true] {
  transition: all 0ms linear;
  transform: scaleY(0);
  transform-origin: center top;
  position: absolute;
  top: 0px;
  width: 100%;
}

.border.top {
  position: relative;
}

.border.bottom {
  position: relative;
}
.border.bottom img.border[data-animate=true] {
  transform-origin: center bottom;
  top: auto;
  bottom: 0px;
}

.section.filler {
  transition: background-color 400ms ease-in-out;
  height: var(--filler-height);
  background: #F4F4F4;
  transform: translateY(-10px);
}

[data-theme=dark] .section.filler {
  background: #A0A0A0;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.icon.open-arrow[data-opened=false] {
  transform: rotateZ(-180deg);
}

.full-popup-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 0px;
  height: 0px;
  overflow: hidden;
}
.full-popup-wrap > * {
  max-height: 0px;
  overflow: hidden;
}
.full-popup-wrap > .close-popup {
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 4px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1);
}
.full-popup-wrap > .close-popup:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}
.full-popup-wrap > .close-popup img {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.full-popup-wrap > .close-popup .text {
  color: #fff;
}
.full-popup-wrap .overlay {
  transition: opacity 300ms linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(30, 30, 30, 0.8);
  opacity: 0;
  width: 100vw;
  max-height: 0px;
  height: 0px;
}
.full-popup-wrap .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  transition: transform 300ms linear;
  background: var(--body-background-color);
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: min(800px, 95vw);
  transform: rotateX(90deg);
  border-radius: 4px;
}
.full-popup-wrap .content-wrap h2.main-title {
  margin-bottom: 20px;
}
.full-popup-wrap.open {
  max-height: 100vh;
  height: 100vh;
}
.full-popup-wrap.open > .close-popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 15px;
}
.full-popup-wrap.open .overlay {
  max-height: 100vh;
  height: 100vh;
  opacity: 1;
}
.full-popup-wrap.open .content-wrap {
  transform: rotateX(0deg);
  max-height: 90vh;
  padding: 30px;
}
.full-popup-wrap.open .content-wrap.close {
  transform: rotateY(90deg) rotateX(0deg);
}

.message-alert-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  background: var(--link-color-dark);
  border-radius: 4px;
  transform: translate(-50%, -50%) rotateY(-90deg);
}
.message-alert-wrap.show {
  animation: open-alert 1.5s linear 150ms;
}
.message-alert-wrap .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.message-alert-wrap .content img {
  width: 80px;
  margin-bottom: 15px;
}
.message-alert-wrap h3 {
  color: #fff;
}

@media only screen and (max-width: 786px) {
  .message-alert-wrap {
    width: 70vw;
    height: 70vw;
  }
  .message-alert-wrap .content img {
    width: 80px;
    margin-bottom: 15px;
  }
  .message-alert-wrap h3 {
    color: #fff;
  }
}
@keyframes open-alert {
  0% {
    transform: translate(-50%, -50%) rotateY(-90deg);
    opacity: 1;
  }
  15% {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }
  85% {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }
  95% {
    transform: translate(-50%, -70%) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -40%) rotateY(-90deg);
    opacity: 0;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: none;
  position: relative;
  border: 3px solid;
  border-color: #1ab1a4 #1ab1a4 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader.show {
  display: inline-block;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #1ab1a4 #1ab1a4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
  opacity: 0.6;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #1ab1a4 #1ab1a4 transparent transparent;
  animation: rotation 1.5s linear infinite;
  opacity: 0.8;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
[data-theme=dark] .loader {
  border-color: #8B37B7 #8B37B7 transparent transparent;
}
[data-theme=dark] .loader::after,
[data-theme=dark] .loader::before {
  border-color: transparent transparent #8B37B7 #8B37B7;
}

.page-wrap.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}
.page-wrap.home .hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: min(90%, 950px);
}

.section#hero {
  overflow: hidden;
  height: 456px;
  position: relative;
  --content-wrap-height: 78%;
}
.section#hero .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  height: var(--content-wrap-height);
  width: 100%;
}
.section#hero .content-wrap h1 {
  color: #fff;
  margin-bottom: 36px;
}
.section#hero .content-wrap .caption-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: min(95%, 460px);
  color: white;
}
.section#hero .content-wrap .caption-wrap .hr {
  width: 100%;
  height: 2px;
  background: white;
}
.section#hero .content-wrap .caption-wrap .text {
  margin: 0px 30px;
  white-space: nowrap;
  font-size: 20px;
}
.section#hero .background-wrap .circles-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--content-wrap-height) - 3%);
  overflow: hidden;
  /* Set variables used by spinning circles */
  --svg-bottom: -150px;
  --first-dimension: 350px;
  --animation-speed: 9000ms;
}
.section#hero .background-wrap .circles-wrap > * {
  position: relative;
}
.section#hero .background-wrap .circles-wrap svg {
  position: absolute;
  bottom: var(--svg-bottom);
  animation: spin-circle var(--animation-speed) linear infinite;
  left: calc(0px - (var(--dimension) / 2));
  width: var(--dimension);
  height: var(--dimension);
  transition: all 400ms ease-in-out;
}
.section#hero .background-wrap .circles-wrap svg:nth-child(2) {
  animation-direction: reverse;
  animation-duration: calc(var(--animation-speed) - 2000ms);
}
.section#hero .background-wrap .circles-wrap .inner {
  --dimension: var(--first-dimension);
}
.section#hero .background-wrap .circles-wrap .inner svg:nth-child(1) {
  animation-duration: calc(var(--animation-speed) - 1000ms);
}
.section#hero .background-wrap .circles-wrap .second {
  --dimension: calc(var(--first-dimension) + 50px);
}
.section#hero .background-wrap .circles-wrap .second svg {
  bottom: calc(var(--svg-bottom) - 20px);
}
.section#hero .background-wrap .circles-wrap .second svg:nth-child(1) {
  animation-direction: reverse;
}
.section#hero .background-wrap .circles-wrap .second svg:nth-child(2) {
  animation-direction: normal;
}
.section#hero .background-wrap .circles-wrap .outer {
  --dimension: calc(var(--first-dimension) + 100px);
}
.section#hero .background-wrap .circles-wrap .outer svg {
  bottom: calc(var(--svg-bottom) - 40px);
}

/* Set colors of circles depending on theme switch */
[data-theme=light] svg.circle {
  stroke: #1ab1a4;
}

[data-theme=dark] svg.circle {
  stroke: #8B37B7;
}

@keyframes spin-circle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* MOBILE SECTION */
.section#hero .content-wrap .caption-wrap .text {
  margin: 0 18px;
}

.section {
  width: 100%;
  max-width: 100%;
}
.section > .content-wrap:not(.ignore-width) {
  max-width: 900px;
  margin: 0px auto;
}

.section#nav-links-desktop .links-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 40px;
}
.section#nav-links-desktop .links-wrap a {
  font-size: 19px;
  white-space: nowrap;
}
.section#nav-links-desktop .links-wrap .vertical-divider {
  width: 1px;
  height: 37px;
  background: #E2E2E2;
  margin: 0 40px;
}

[data-theme=dark] .section#nav-links-desktop .links-wrap .vertical-divider {
  background: #555;
}

#mobile-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  transition: all 400ms ease-in-out;
  position: fixed;
  top: 15px;
  right: -310px;
}
#mobile-nav.open {
  right: 0px;
}
#mobile-nav .nav-button {
  width: 60px;
  height: 60px;
  background-image: url("_pics/hamburger.svg");
  background-size: 30px 35px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px 0px 0px 8px;
}
#mobile-nav .nav-links-wrap {
  transition: all 400ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: var(--body-background-color);
  width: 250px;
  border-radius: 0px 0px 0px 8px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#mobile-nav .nav-links-wrap a {
  padding: 20px;
  font-size: 16px;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  #mobile-nav {
    right: -250px;
  }
}
[data-theme=dark] #about-me {
  background-image: url("_pics/experience/experience-border-top-dark.svg");
}

#about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 500px;
  background-image: url("_pics/experience/experience-border-top.svg");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
#about-me .content-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
#about-me .content-wrap .img-wrap {
  width: 140px;
  height: 140px;
  margin-right: 40px;
  position: relative;
}
#about-me .content-wrap .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}
#about-me .content-wrap .img-wrap .circles-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Set variables used by spinning circles */
  --svg-bottom: -30px;
  --first-dimension: 200px;
  --animation-speed: 9000ms;
}
#about-me .content-wrap .img-wrap .circles-wrap > * {
  position: relative;
}
#about-me .content-wrap .img-wrap .circles-wrap svg {
  position: absolute;
  bottom: var(--svg-bottom);
  animation: spin-circle var(--animation-speed) linear infinite;
  left: calc(0px - (var(--dimension) / 2));
  width: var(--dimension);
  height: var(--dimension);
  transition: all 400ms ease-in-out;
}
#about-me .content-wrap .img-wrap .circles-wrap svg:nth-child(2) {
  animation-direction: reverse;
  animation-duration: calc(var(--animation-speed) - 2000ms);
}
#about-me .content-wrap .img-wrap .circles-wrap .inner {
  --dimension: var(--first-dimension);
}
#about-me .content-wrap .img-wrap .circles-wrap .inner svg:nth-child(1) {
  animation-duration: calc(var(--animation-speed) - 1000ms);
}
#about-me .content-wrap .img-wrap .circles-wrap .second {
  --dimension: calc(var(--first-dimension) + 30px);
}
#about-me .content-wrap .img-wrap .circles-wrap .second svg {
  bottom: calc(var(--svg-bottom) - 15px);
}
#about-me .content-wrap .img-wrap .circles-wrap .second svg:nth-child(1) {
  animation-direction: reverse;
}
#about-me .content-wrap .img-wrap .circles-wrap .second svg:nth-child(2) {
  animation-direction: normal;
}
#about-me .content-wrap .img-wrap .circles-wrap .outer {
  --dimension: calc(var(--first-dimension) + 60px);
}
#about-me .content-wrap .img-wrap .circles-wrap .outer svg {
  bottom: calc(var(--svg-bottom) - 30px);
}
#about-me .content-wrap .text-wrap {
  width: min(90%, 560px);
}
#about-me .content-wrap .text-wrap p {
  padding-left: 4px;
}

@media only screen and (max-width: 900px) {
  #about-me {
    padding: 100px 0px;
  }
  #about-me .content-wrap {
    flex-direction: column;
  }
  #about-me .content-wrap .img-wrap {
    margin: 60px 0px;
  }
  #about-me .content-wrap .text-wrap {
    padding-top: 40px;
  }
}
[data-theme=dark] .section#experience {
  background: #A0A0A0;
}
[data-theme=dark] .content-wrap .section .card .title-wrap .text-wrap h4, [data-theme=dark] .content-wrap .section .card .title-wrap .text-wrap .caption {
  color: #545454 !important;
}
[data-theme=dark] .content-wrap .section .card .desc {
  color: #545454;
}

.section#experience {
  transition: background-color 400ms ease-in-out;
  padding: 60px 0px;
  background: #F4F4F4;
  transform: translateY(-6px);
}
.section#experience .content-wrap h2 {
  margin-bottom: 30px;
  font-size: 36px;
}
.section#experience .content-wrap .section {
  margin-bottom: 40px;
  position: relative;
}
.section#experience .content-wrap .section .card {
  background-color: white;
  padding: 40px;
  padding-bottom: 80px;
  border-left: solid 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section#experience .content-wrap .section .card[data-company=MAXX] {
  --theme-color: #BB2025;
  border-left-color: var(--theme-color);
}
.section#experience .content-wrap .section .card[data-company=ODU] {
  --theme-color: #043657;
  border-left-color: var(--theme-color);
}
.section#experience .content-wrap .section .card > * {
  width: 100%;
}
.section#experience .content-wrap .section .card .title-wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 2px #F4F4F4;
}
.section#experience .content-wrap .section .card .title-wrap .image-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-right: 20px;
}
.section#experience .content-wrap .section .card .title-wrap .image-wrap img {
  height: 50px;
  width: auto;
}
.section#experience .content-wrap .section .card .title-wrap .text-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.section#experience .content-wrap .section .card .title-wrap .text-wrap h4 {
  font-size: 22px;
}
.section#experience .content-wrap .section .card .button-wrap {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.section#experience .content-wrap .section .card .button-wrap .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  float: right;
  background-color: var(--theme-color);
  width: 135px;
  padding: 15px 0px;
  color: white;
  font-weight: bold;
  border-radius: 8px 0px 0px 0px;
}
.section#experience .content-wrap .section .card .button-wrap .button:hover {
  text-decoration: underline;
}
.section#experience .content-wrap .section .card .button-wrap .button img {
  width: 12px;
  height: auto;
  margin-left: 10px;
}
.section#experience .content-wrap .section .card.small {
  padding-bottom: 40px;
  margin-bottom: 25px;
}
.section#experience .content-wrap .section .card.small .title-wrap {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.section#experience .content-wrap .section .card.small .title-wrap .image-wrap img {
  height: 43px;
}
.section#experience .content-wrap .section .card.small .title-wrap .text-wrap h4 {
  margin-bottom: 6px;
}
.section#experience .content-wrap .section .cards-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  .section#experience .content-wrap .section .card .title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .section#experience .content-wrap .section .card .title-wrap h4 {
    margin-bottom: 12px;
  }
  .section#experience .content-wrap .section .card .title-wrap .image-wrap {
    margin-bottom: 15px;
    margin-right: 0px;
  }
  .section#experience .content-wrap .section .card .title-wrap .text-wrap {
    text-align: center;
  }
  .section#experience .content-wrap .section .card.small {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .section#skills {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.section#skills {
  background: green;
  transform: translateY(-10px);
}
.section#skills .background-wrap {
  z-index: -1;
}
.section#skills .background-wrap .background-colors.light {
  background: radial-gradient(circle at 75% 50%, #4cf5a8 20%, rgba(0, 0, 0, 0)), radial-gradient(circle at 0% 0%, var(--bg-color-top-left) 100%, rgba(0, 0, 0, 0));
}
.section#skills .background-wrap .background-colors.dark {
  background: radial-gradient(circle at 75% 50%, var(--bg-color-top-left) 20%, rgba(0, 0, 0, 0)), radial-gradient(circle at 0% 0%, var(--bg-color-top-right) 100%, rgba(0, 0, 0, 0));
}
.section#skills .content-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 100px 0px;
  color: white;
}
.section#skills .content-wrap h2 {
  color: white;
  margin-bottom: 20px;
}
.section#skills .content-wrap ul {
  margin-bottom: 20px;
}
.section#skills .content-wrap ul:first-child {
  margin-bottom: 40px;
}
.section#skills .content-wrap ul li {
  margin-bottom: 10px;
}
.section#skills .content-wrap ul li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
}
.section#skills .content-wrap ul li label .checkbox {
  height: 15px;
  width: 15px;
  background: white;
  display: inline-block;
  margin-right: 15px;
  border-radius: 2px;
}
.section#skills .content-wrap ul li label .checkbox:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  width: 11px;
  height: 11px;
  background: #A5A5A5;
  opacity: 0;
}
.section#skills .content-wrap ul li label .checkbox.radio {
  border-radius: 100px;
}
.section#skills .content-wrap ul li label .checkbox.radio::after {
  border-radius: 100px;
}
.section#skills .content-wrap ul li label input:checked ~ .checkbox:after {
  opacity: 1;
}
.section#skills .content-wrap ul li label input {
  display: none;
}
.section#skills .right-side {
  max-width: 65%;
}
.section#skills .right-side .skills-item-wrap {
  display: none;
}
.section#skills .right-side .word-cloud-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section#skills .right-side .word-cloud-wrap .item {
  transition: all 300ms ease-in-out;
  display: inline-block;
  font-size: 36px;
  margin: 15px;
  transform: scale(1, 1);
}
.section#skills .right-side .word-cloud-wrap .item[data-priority="1"] {
  font-size: calc(56px - 1 * 12px);
  line-height: calc(56px - 1 * 12px);
}
.section#skills .right-side .word-cloud-wrap .item[data-priority="2"] {
  font-size: calc(56px - 2 * 12px);
  line-height: calc(56px - 2 * 12px);
}
.section#skills .right-side .word-cloud-wrap .item[data-priority="3"] {
  font-size: calc(56px - 3 * 12px);
  line-height: calc(56px - 3 * 12px);
}
.section#skills .right-side .word-cloud-wrap .item[data-priority="4"] {
  font-size: calc(56px - 4 * 12px);
  line-height: calc(56px - 4 * 12px);
}
.section#skills .right-side .word-cloud-wrap .item[data-priority="5"] {
  font-size: calc(56px - 5 * 12px);
  line-height: calc(56px - 5 * 12px);
}
.section#skills .right-side .word-cloud-wrap[filter=true] .item:not(.active) {
  opacity: 0.4;
  transform: scale(0.9, 0.9);
}
.section#skills .right-side .word-cloud-wrap[filter=true] .item.active {
  transform: scale(1.2, 1.2);
  margin: 10px 20px;
}

[data-theme=dark] .section#skills .bg-border-wrap .border svg.light-border {
  opacity: 0;
}

@media only screen and (max-width: 786px) {
  .section#skills .content-wrap {
    flex-direction: column;
  }
  .section#skills .right-side {
    max-width: 95vw;
    width: 95vw;
  }
  .section#skills .left-side {
    max-width: 80vw;
    width: 80vw;
    margin-bottom: 20px;
  }
  .section#skills .left-side .filters-wrap {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .section#skills .left-side .filters-wrap {
    display: block;
  }
}
.section#my-work {
  height: 550px;
  position: relative;
  transform: translateY(-10px);
}
.section#my-work .bg-border-wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
.section#my-work .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 80px 0px;
}
.section#my-work .content-wrap h1 {
  margin-bottom: 20px;
  font-size: 36px;
}
.section#my-work .content-wrap .slideshow {
  width: 100%;
}
.section#my-work .content-wrap .slideshow .slide {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  max-height: none;
  transition: all 500ms ease-in-out;
}
.section#my-work .content-wrap .slideshow .slide .item {
  border: #ccc;
  transition: all 200ms ease-in-out;
}
.section#my-work .content-wrap .slideshow .slide .item.category {
  background: #BB2025;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.section#my-work .content-wrap .slideshow .slide .item.category h3 {
  color: #fff;
  text-align: right;
  padding: 0px 10px 10px 0px;
}
.section#my-work .content-wrap .slideshow .slide .item:not(.category) {
  cursor: pointer;
  max-height: 160px;
}
.section#my-work .content-wrap .slideshow .slide .item:not(.category):hover {
  transform: scale(1.1);
}
.section#my-work .content-wrap .slideshow .slide .item.category {
  grid-row: 1/3;
}
.section#my-work .content-wrap .slideshow .slide .item img:not(.icon) {
  width: 101%;
  height: 101%;
}

@media only screen and (max-width: 786px) {
  .section#my-work {
    height: auto;
  }
  .section#my-work .content-wrap h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .section#my-work .content-wrap .slideshow .slide {
    display: flex;
    flex-direction: column;
  }
  .section#my-work .content-wrap .slideshow .slide[data-opened=false] {
    max-height: 75px;
    overflow: hidden;
  }
  .section#my-work .content-wrap .slideshow .slide .item {
    margin-bottom: 15px;
  }
  .section#my-work .content-wrap .slideshow .slide .item:not(.category) {
    max-height: none;
  }
  .section#my-work .content-wrap .slideshow .slide .item.category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 20px;
    background: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px var(--heading-color) solid;
  }
  .section#my-work .content-wrap .slideshow .slide .item.category h3 {
    color: var(--heading-color);
    padding: 0px;
    font-size: 30px;
  }
}
.section#talk {
  transform: translateY(-10px);
  padding-top: 200px;
  padding-bottom: 40px;
  position: relative;
  background: #545454;
}
.section#talk .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  transition: all 400ms ease-in-out;
  width: min(575px, 95vw);
  height: 215px;
  background: var(--link-color-dark);
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.section#talk .content-wrap h2 {
  color: #fff;
  margin-bottom: 20px;
}
.section#talk .content-wrap .button {
  background: #4acc97;
  color: #fff;
  padding: 15px 25px;
}
.section#talk .content-wrap .button:hover {
  background: #5ee1ac;
}
.section#talk .social-links-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.section#talk .social-links-wrap a.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 12px 10px;
  margin: 8px;
  border-radius: 6px;
}
.section#talk .social-links-wrap a.item:hover {
  background: #363636;
}
.section#talk .social-links-wrap a.item img.icon {
  margin-right: 8px;
  width: 20px;
  height: auto;
}
.section#talk .social-links-wrap a.item .text {
  color: #fff;
}
.section#talk .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  color: #fff;
  margin-bottom: 20px;
}
.section#talk .contact-info h3 {
  color: #fff;
}
.section#talk .contact-info * {
  margin-bottom: 5px;
}

[data-theme=dark] .section#talk .content-wrap .button {
  background: #340098;
}
[data-theme=dark] .section#talk .content-wrap .button:hover {
  background: #4814ac;
}

@media only screen and (max-width: 786px) {
  .section#talk .contact-info {
    font-size: 1.3rem;
  }
  .section#talk .contact-info h3 {
    font-size: 2rem;
  }
}
.full-popup-wrap[data-popup-name=contact] .form-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 45px;
  box-sizing: border-box;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row > *:not(:last-child) {
  margin-right: 20px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.label-text {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
  justify-content: flex-start;
  opacity: 0.8;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.label-text > *:not(:last-child) {
  margin-right: 10px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.label-text label {
  white-space: nowrap;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.label-text .line {
  width: 100%;
  border-top: 1px var(--text-color) solid;
  max-width: 120px;
  transform: translateY(3px);
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.text-box-wrap {
  width: 100%;
  margin-top: 20px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.text-box-wrap .item {
  width: 100%;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.text-box-wrap .item .row.label-text {
  margin-bottom: 15px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.text-box-wrap .item .row.label-text .line {
  max-width: none;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.text-box-wrap .item .row.label-text .line:first-child {
  min-width: unset;
  width: 100%;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.preferred-contact {
  justify-content: center;
  margin-bottom: 0px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.preferred-contact input {
  margin-right: 5px;
  margin-top: 0px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.bottom-buttons {
  justify-content: center;
  margin-bottom: 0px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.bottom-buttons input {
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: Calibri;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.bottom-buttons .button {
  padding: 15px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.bottom-buttons .button.cancel {
  background: none;
  color: var(--link-color-dark);
  border: 1px var(--link-color-dark) solid;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row.bottom-buttons .button.cancel:hover {
  opacity: 0.6;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 45%;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row .item:not(:last-child) {
  margin-right: 20px;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row .item input[type=text],
.full-popup-wrap[data-popup-name=contact] .form-wrap .row .item input[type=email],
.full-popup-wrap[data-popup-name=contact] .form-wrap .row .item input[type=tel],
.full-popup-wrap[data-popup-name=contact] .form-wrap .row .item textarea {
  width: 100%;
  padding: 8px;
  color: #545454;
  font-size: 16px;
  border: 1px #545454 solid;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Calibri;
}
.full-popup-wrap[data-popup-name=contact] .form-wrap .row .item textarea {
  height: 130px;
}

@media only screen and (max-width: 786px) {
  .full-popup-wrap[data-popup-name=contact] .form-wrap {
    justify-content: flex-start;
    padding: 0px;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap > .row {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap > .row.bottom-buttons {
    flex-direction: row;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap > .row.text-box-wrap {
    margin-top: 0px;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap > .row .item {
    margin-right: 0px;
    width: 100%;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap > .row .item:not(:last-child) {
    margin-bottom: 25px;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap > .row .item:not(:last-child) {
    margin-right: 0px;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap > .row .item * {
    width: 100%;
  }
  .full-popup-wrap[data-popup-name=contact] .form-wrap .row.label-text label {
    width: auto;
  }
}
.full-popup-wrap.work .content-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: min(1000px, 95vw);
  overflow: auto;
}
.full-popup-wrap.work .content-wrap .line {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-top: solid 1px var(--heading-color);
}
.full-popup-wrap.work .content-wrap .title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  min-height: 95px;
  margin-bottom: 40px;
}
.full-popup-wrap.work .content-wrap .title-wrap h2 {
  font-size: 32px;
  margin-bottom: 12px;
}
.full-popup-wrap.work .content-wrap .title-wrap a {
  background: #545454;
  padding: 5px 9px;
  border-radius: 5px;
  color: #fff;
}
.full-popup-wrap.work .content-wrap .header-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: -1;
}
.full-popup-wrap.work .content-wrap .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
}
.full-popup-wrap.work .content-wrap .row.flex-start {
  justify-content: flex-start;
}
.full-popup-wrap.work .content-wrap .row > *:not(:last-child) {
  margin-right: 20px;
}
.full-popup-wrap.work .content-wrap .left-side {
  margin-right: 20px;
}
.full-popup-wrap.work .content-wrap .left-side .img-wrap {
  margin-bottom: 20px;
}
.full-popup-wrap.work .content-wrap .left-side .img-wrap img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.full-popup-wrap.work .content-wrap .left-side .items-wrap ul li {
  margin-bottom: 15px;
}
.full-popup-wrap.work .content-wrap .right-side {
  padding: 0px 20px;
}
.full-popup-wrap.work .content-wrap .right-side p {
  margin-bottom: 30px;
}
.full-popup-wrap.work .content-wrap .right-side .responsibilities-wrap {
  margin-bottom: 40px;
}
.full-popup-wrap.work .content-wrap .right-side .responsibilities-wrap ul {
  padding-left: 20px;
}
.full-popup-wrap.work .content-wrap .right-side .responsibilities-wrap ul li {
  list-style: square;
  margin-bottom: 20px;
}
.full-popup-wrap.work .content-wrap .right-side .button {
  padding: 10px 15px;
}

@media only screen and (max-width: 786px) {
  .full-popup-wrap.work .content-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .full-popup-wrap.work .content-wrap .right-side {
    padding: 20px 0px;
  }
}

/*# sourceMappingURL=main.css.map */
