.full-popup-wrap(data-popup-name="contact")
  .close-popup
    img(src="_pics/icons/x_white.svg")
    .text Close
  .content-wrap
    h2.main-title Send a Message 
    form.form-wrap
      .row
        .item 
          .row.label-text
            .line
            label.input-label(for="name") Name 
            .line 
            
          input(type="text" name="name" required)
        .item
          .row.label-text
            .line
            label.input-label(for="email") Email 
            .line
          input(type="email" name="email" required)
      .row
        .item
          .row.label-text
            .line
            label.input-label(for="phone") Phone 
            .line
          input(type="tel" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required)
        .item
          .row.label-text
            .line
            label.input-label(for="email") Preferred Contact 
            .line
          .row.preferred-contact
            input(type="radio" id="contact-email" name="contact-method" value="email")
            label(for="contact-email") E-Mail 
            input(type="radio" id="contact-phone" name="contact-method" value="phone")
            label(for="contact-phone") Phone 
      .row.text-box-wrap
        .item
          .row.label-text
            .line
            label.input-label(for="phone") Message
            .line
          textarea(name="text")
          
      .row.bottom-buttons
        input.button(type="submit" value="Send")
        .button.close-popup.cancel Cancel
        
  .overlay
