.full-popup-wrap.work(data-popup-name="broadtime")
  .overlay
  .close-popup
    img(src="_pics/icons/x_white.svg")
    .text Close
  .content-wrap
    .header-color(style="background: rgb(80,80,80);")
    .left-side
      .img-wrap
        img(src="_pics/my-work/broadtime.png")
        
      .title-wrap.desktop-hide 
        h2 Various Apps | Broadtime
        
      .technology-used
        h3 Technology Used
        .line
        
        .items-wrap
          ul
            li Swift
            li C#
            li CocoaPods 
            li Kotlin
            li xCode
            li Android Studio

    .right-side
      .title-wrap.mobile-hide 
        h2(style="color: #fff;") Broadtime
      .overview-wrap
        h3 Overview
        .line
        p BroadTime is a company that provides iOS and Android apps to locally known records stores.
      .responsibilities-wrap
        h3 Responsibilities / Accomplishments
        .line
        ul
          li Manage various iOS and Android apps used by record stores. 
          li Successfully implemented Swift code migration in order to allow the iOS apps to support newer devices. 
          li Integrated tools to make the Apple Apps Store submission process simpler.
