.full-popup-wrap.work(data-popup-name="connectva")
  .overlay
  .close-popup
    img(src="_pics/icons/x_white.svg")
    .text Close
  .content-wrap
    .header-color(style="background: #002E5D;")
    .left-side
      .img-wrap
        img(src="_pics/my-work/connectva.png")
        
      .title-wrap.desktop-hide 
        h2 ConnectVa | The Community Foundation
        a(href="https://www.connectva.org/" target="_blank") https://www.connectva.org/
        
      .technology-used
        h3 Technology Used
        .line
        
        .items-wrap
          ul
            li HTML / CSS
            li PHP
            li Wordpress
            li Docker
            li Django
            li AWS
            li Python
            

    .right-side
      .title-wrap.mobile-hide 
        h2(style="color: #fff;") ConnectVa | The Community Foundation
        a(href="https://www.connectva.org/" target="_blank") https://www.connectva.org/
      .responsibilities-wrap
        h3 Responsibilities / Accomplishments
        .line
        ul
          li Provided front-end and back-end maintenance for the Wordpress built website using PHP 
          li Created and updated custom and premade WordPress functions using PHP.
          li Developed front-end features and design changes with HTML, CSS, JavaScript, jQuery, and AJAX within the Sitefinity CMS.
          li Developed various forms using PHP to save custom metadata to account for new user roles within the database.
          li Maintained a custom API built with Django that was used for a major feature of the site.
      .row.flex-start
        a.button(href="https://www.connectva.org/" target="_blank" style="background: #002E5D; color: #fff") Visit Site
