.full-popup-wrap.work(data-popup-name="give")
  .overlay
  .close-popup
    img(src="_pics/icons/x_white.svg")
    .text Close
  .content-wrap
    .header-color(style="background: rgb(0,140,86);")
    .left-side
      .img-wrap
        img(src="_pics/my-work/give.png")
        
      .title-wrap.desktop-hide 
        h2 Give.org | BBB Wise Giving Alliance
        a(href="https://give.org" target="_blank") https://give.org
        
      .technology-used
        h3 Technology Used
        .line
        
        .items-wrap
          ul
            li HTML / CSS
            li JavaScript / jQuery / AJAX
            li C# 
            li ASP.NET MVC Architecture
            li Sitefinity CMS
            li Amazon Web Services (AWS)

    .right-side
      .title-wrap.mobile-hide 
        h2(style="color: #fff;") Give.org | BBB Wise Giving Alliance
        a(href="https://give.org" target="_blank") https://give.org
      .responsibilities-wrap
        h3 Responsibilities / Accomplishments
        .line
        ul
          li Provided requested front-end and back-end maintenance for the website utilizing ASP.NET MVC framework and Sitefinity content management system.
          li Developed front-end features and design changes with HTML, CSS, JavaScript, jQuery, and AJAX within the Sitefinity CMS.
          li Created various .cs and .cshtml files within the MVC architecture using C# and Razor syntax to develop new widgets and update existing ones, allowing client access to new CMS features
          li Implemented complete site redesign on over 200 pages of the website. The various designs were provided in the form of PSD files and I was in charge of building the front-end interface that would perfectly mirror the designs. I also provided back-end C# code that would handle complete functionality of the included components
          li Assisted with site migration to Amazon Web Services (AWS); deployed site and corresponding databases to run on AWS EC2 and RDS with open communication between them.
          li Redeveloped site pages to provide a better and more attractive user interface design.
          li Implemented Google Analytics events to provide client with more in-depth traffic statistics.
          li Implemented multiple API's to retrieve and display various information on the site

      a.button(href="https://give.org/" target="_blank" style="background: rgb(0,140,86); color: #fff") Visit Site
