.full-popup-wrap.work(data-popup-name="macys")
  .overlay
  .close-popup
    img(src="_pics/icons/x_white.svg")
    .text Close
  .content-wrap
    .header-color(style="background: rgb(231,0,0);")
    .left-side
      .img-wrap
        img(src="_pics/my-work/macys.png")
        
      .title-wrap.desktop-hide 
        h2 Macy's Testing Site | 233 Analytics
        
      .technology-used
        h3 Technology Used
        .line
        
        .items-wrap
          ul
            li HTML / CSS
            li JavaScript / jQuery / AJAX
            li C#
            li ASP.NET MVC Architecture
            

    .right-side
      .title-wrap.mobile-hide 
        h2(style="color: #fff;") Macy's Testing Site | 233 Analytics
        
      .overview-wrap
        h3 Overview
        .line
        p 233 Analytics maintained a web-based app for the Macy's stores. This app was used to help compile results from a variety of physical testing devices used by a many Macy's stores across the eastern shore. The users/managers of this app are able to select from a wide range of regions and districts to build a results table from.

      .responsibilities-wrap
        h3 Responsibilities / Accomplishments
        .line
        ul
          li Reduced total page loading times from about 5 minutes down to less than 5 seconds by reducing database deadlocks, converting to more optimal datatypes, and implementing an AJAX based workflow to reduce the amount of unneccessary loaded data.
          li Set up a feature that allows the client export a readable csv spreadsheet that includes all test results from a given region.
