.full-popup-wrap.work(data-popup-name="nsrec")
  .overlay
  .close-popup
    img(src="_pics/icons/x_white.svg")
    .text Close
  .content-wrap
    .header-color(style="background: rgb(50,69,135);")
    .left-side
      .img-wrap
        img(src="_pics/my-work/nsrec.png")
        
      .title-wrap.desktop-hide 
        h2 NSREC | 233 Analytics
        a(href="https://www.nsrec.com/" target="_blank") https://www.nsrec.com/
        
      .technology-used
        h3 Technology Used
        .line
        
        .items-wrap
          ul
            li HTML / CSS
            li JavaScript / jQuery / AJAX
            li PHP
            li MySQL
            li React
            li Express
            li Wordpress
            

    .right-side
      .title-wrap.mobile-hide 
        h2(style="color: #fff;") NSREC | 233 Analytics
        a(href="https://www.nsrec.com/" target="_blank") https://www.nsrec.com/
      .responsibilities-wrap
        h3 Responsibilities / Accomplishments
        .line
        ul
          li Convert front-end features that were built with React/JS to a PHP built Wordpress feature that's easily customizable by the client
          li Implement a feature that allows the client to choose which content should be displayed on the website based on the year they select. This allows the client to create yearly content at their own pace and release it whenever they see fit. 
          li Develop various shortcode functions to be displayed on the site. 
          li Build Wordpress theme to replicate original front-end built with React.
          li Migrate site to allow front-end and back-end to be hosted on same server.
      .row.flex-start
        a.button(href="https://www.nsrec.com/" target="_blank" style="background: rgb(50,69,135); color: #fff") Visit Site
