//output: ../main.js 
$(document).ready(function(){  
             
include _items/0-dir                                                
include _pages/0-dir         
});                                    
                                  
                            
               
                      
          
         
         
 
 
