#mobile-nav
  .nav-button.button
  
  .nav-links-wrap
    a(href="#about") About Me
    a(href="#experience") Experience & Education
    a(href="#skills") Skills
    a(href="#mywork") My Work
    a(href="#contact") Contact
